:local(.main)
  height: 300px
  text-align: center

:local(.title)
  color: white
  position: relative
  top: -180px
  text-align: center
  font-size: 3em

.react-blur-canvas
  position: absolute
  top: 0
  left: 0


